@use "sass:map";

.footer { 
    padding: 180px 160px 60px;
    box-sizing: border-box;
    @include desktop {
        padding: 180px max(150px, 11.5vw) 60px;
    }
    @include laptop {
        padding: 180px 60px 60px;
    }
    @include tablet {
        padding: 150px 60px 60px;
    }
    @include phones {
        padding: 150px 20px 20px;
    }
}