.header {
    padding: 60px 160px;
    @include desktop {
        padding: 60px max(150px, 11.5vw);
    }
    @include laptop {
        padding: 60px;
    }
    @include tablet {
        padding-bottom: 32px;
    }
    @include phones {
        padding: 24px 20px 20px;
    }
}