@use "sass:map";

.section {
    padding: 60px 160px;
    box-sizing: border-box;
    @include desktop {
        padding: 60px max(150px, 11.5vw);
    }
    @include laptop {
        padding: 60px;
    }
    @include phones {
        padding: 40px 20px 30px;
    }
    &__title {
        margin: 0;
        @include font (400, 32px, 1.25);
        @include tablet {
            @include font (400, 20px, 1.5);
        }
        @include phones {
            font-size: 12px;
        }
    }
}