$pageColor:#000000;
$cardColor: #1C1C1E;
$cardColorHover:#232327;
$fontHeader: #FFFFFF;
$fontParagraph: #8E8E98;
$fontPriceTag: #25E197;
$button: #25E197;
$gridRect1: #25E197;
$gridRect2: #FFD233;
$colors: (
  "formInput": (
    "inactive": rgba(142, 142, 152, 0.2),
    "active": rgba(142, 142, 152, 0.3),
  ),
  "formSubmit": (
    "all": #47474C
  )
);
